.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 5px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(255, 215, 0, 0.31) 4%, rgba(140, 24, 35, 0.5) 100%);
  background-attachment: fixed; /* Ensures the gradient stays fixed */
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: fixed; /* Keeps the logo in a fixed position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./images/logoCIT.png') bottom right no-repeat;
  background-size: 500px 500px;
  background-attachment: fixed; /* Ensures the logo stays fixed */
  opacity: 0.3;
  z-index: -1; 
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enables vertical scrolling within the app */
  padding-bottom: 20px; /* Adds some padding at the bottom to prevent content from touching the edge */
}